.header{
    text-align: center;
}

.leftDiv{
    padding: 10px;
    width: 19%;
    float: left;
}

.section{
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.sectionRow{
    display: table-row;
}

.article{
    margin: 1rem;
    box-shadow: 0px 7px 31px -7px rgba(247, 65, 41, 0.781);
    -webkit-box-shadow: 0px 7px 31px -7px rgba(247, 65, 41, 0.781);
    -moz-box-shadow: 0px 7px 31px -7px rgba(247, 65, 41, 0.781);
    border-radius: 0 0 10px 0;
    text-align: center;
}

.article span{
    display: block;
}

img{
    width: 150px;
}
